In [5]:
def Welcome_Function():
    print("Hello world, Welcome to Function class")
Welcome_Function()

Hello world, Welcome to Function class

In [7]:
def Python_Class():
    pass

In [11]:
def my_Function(parameter):
    print("I want to learn "+parameter)
my_Function("to code!")
my_Function("to do AI!")

I want to learn to code!
I want to learn to do AI!

In [14]:
def print_name(name):
    print("My name is "+name)
print_name("Joshua")

My name is Joshua

In [15]:
def add_two(a,b):
    print(a+b)
add_two(2,3) #Functions that adds numbers

5

In [16]:
def Subtract_two(a,b):
    print(a-b)
Subtract_two(3,23) #Functions that subtract numbers

-20

In [17]:
def Divide_two(a,b):
    print(a/b)
Divide_two(20,5) #Functions that divides numbers

4.0

In [18]:
def Multiply_two(a,b):
    print(a*b)
Multiply_two(50,7200) #Functions that multiplies numbers

360000

In [20]:
def operation(x,y,z):
    print((x+y)*z)
operation(5,3,2)

16

In [21]:
def length(liste):
    s=0
    for i in liste:
        s+=1
    return(s)
a = (1,2,3,4)
print(length(a))

4

In [26]:

b = (1,2)
print(length(b))

2

In [27]:
c = ('Hello')
print(length(c))

5

In [32]:
def my_function(Country ="Tunisia"):
    print("I am from "+Country)
my_function("Marco")
my_function("Algeria")
my_function()

I am from Marco
I am from Algeria
I am from Tunisia

In [8]:
def minimum(a,b):
    if a<b:
        return(a)
    else:
        return(b)
min = minimum(10,2)
print(min)

2

In [2]:
sum = lambda a,b,c : a+b+c
print(sum(2,6,3))

11

In [3]:
year = lambda ch : ch[:4]
ch = "20200310"
print(year(ch))

2020

In [13]:
Tuple1=(1,2,3)
Tuple2=(3,2,1)
result=list(map(lambda x,y:x+y,Tuple1,Tuple2))
print(result)

[4, 4, 4]

In [14]:
def myfunc(a,b):
    return a+b
result=list(map(myfunc,(1,2,3),(3,2,1)))
print(result)

[4, 4, 4]

In [15]:
def myfunc(a):
    return len(a)
fruit=('apple', 'banana', 'cherry')
result= map(myfunc,fruit)
print(list(result))

[5, 6, 6]

In [ ]:
my_list(2,3,6,11,22)
result =(my_list*my_list)
print(result)